<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mapping</key>
	<dict>
		<key>HomeViewController</key>
		<string>首页</string>
		<key>GoodListController</key>
		<string>商品列表</string>
		<key>SearchViewController</key>
		<string>搜索界面</string>
		<key>FilterViewController</key>
		<string>商品筛选条件界面</string>
		<key>FilterContentViewController</key>
		<string>商品筛选内容界面</string>
		<key>GoodDetailController</key>
		<string>商品详情界面</string>
		<key>CommentViewController</key>
		<string>评论界面</string>
		<key>TradeRateViewController</key>
		<string>交易费率界面</string>
		<key>OpenInfoViewController</key>
		<string>申请开通材料界面</string>
		<key>GoodImageController</key>
		<string>商品图文详情界面</string>
		<key>ProcurementBuyOrderController</key>
		<string>采购订单确认界面</string>
		<key>ProcurementRentController</key>
		<string>租赁订单确认界面</string>
		<key>SelectedAddressController</key>
		<string>地址选择界面</string>
		<key>AddressViewController</key>
		<string>地址管理界面</string>
		<key>AddressEditController</key>
		<string>地址详情界面</string>
		<key>UserListViewController</key>
		<string>选择用户界面</string>
		<key>PayWayViewController</key>
		<string>支付界面</string>
		<key>OpenApplyController</key>
		<string>开通认证列表界面</string>
		<key>TerminalDetailController</key>
		<string>终端详情界面</string>
		<key>ApplyDetailController</key>
		<string>开通申请界面</string>
		<key>VideoAuthController</key>
		<string>视频认证界面</string>
		<key>TerminalManagerController</key>
		<string>终端管理列表界面</string>
		<key>MerchantSelectedController</key>
		<string>开通申请选择商户界面</string>
		<key>BankSelectedController</key>
		<string>开通申请选择银行界面</string>
		<key>ChannelSelectedController</key>
		<string>开通申请选择支付通道界面</string>
		<key>DealFlowViewController</key>
		<string>交易流水界面</string>
		<key>TradeTerminalController</key>
		<string>交易流水选择终端界面</string>
		<key>TradeDetailController</key>
		<string>交易详情界面</string>
		<key>MessageViewController</key>
		<string>我的消息界面</string>
		<key>MessageDetailController</key>
		<string>我的消息详情界面</string>
		<key>StockManagerController</key>
		<string>库存管理列表界面</string>
		<key>StockDetailController</key>
		<string>库存详情界面</string>
		<key>OrderManagerController</key>
		<string>订单列表界面</string>
		<key>OrderDetailController</key>
		<string>订单详情界面</string>
		<key>OrderTerminalListController</key>
		<string>订单终端列表界面</string>
		<key>OrderLogisticController</key>
		<string>查看物流界面</string>
		<key>CSMenuController</key>
		<string>售后记录菜单界面</string>
		<key>CSListController</key>
		<string>售后记录列表界面</string>
		<key>AfterSaleDetailController</key>
		<string>售后单详情界面</string>
		<key>UpdateDetailController</key>
		<string>更新资料详情界面</string>
		<key>CancelDetailController</key>
		<string>注销详情界面</string>
		<key>UserManagerController</key>
		<string>用户管理界面</string>
		<key>UserTerminalController</key>
		<string>用户终端列表界面</string>
		<key>MineViewController</key>
		<string>我的界面</string>
		<key>PersonInfoController</key>
		<string>我的信息界面</string>
		<key>ModifyViewController</key>
		<string>邮箱手机修改界面</string>
		<key>AgentManagerController</key>
		<string>下级代理商管理界面</string>
		<key>SubAgentListController</key>
		<string>下级代理商列表界面</string>
		<key>DefaultBenefitController</key>
		<string>设置默认分润界面</string>
		<key>CreateAgentController</key>
		<string>创建下级代理商界面</string>
		<key>SubAgentDetailController</key>
		<string>下级代理商详情界面</string>
		<key>BenefitListController</key>
		<string>设置分润界面</string>
		<key>EditBenefitController</key>
		<string>编辑分润界面</string>
		<key>CreateBenefitController</key>
		<string>添加分润界面</string>
		<key>PrepareGoodManagerController</key>
		<string>配货管理界面</string>
		<key>GoodAgentListController</key>
		<string>配货调货代理商界面</string>
		<key>PGDetailController</key>
		<string>配货详情界面</string>
		<key>PrepareGoodController</key>
		<string>配货选择终端界面</string>
		<key>PGSelectedTerminalController</key>
		<string>配货调货筛选终端界面</string>
		<key>PGInputTerminalController</key>
		<string>配货调货输入终端界面</string>
		<key>PGFilterPOSController</key>
		<string>配货调货筛选POS机界面</string>
		<key>PGFilterChannelController</key>
		<string>配货调货筛选支付通道界面</string>
		<key>PGTerminalListController</key>
		<string>配货调货筛选列表界面</string>
		<key>TransferGoodManagerController</key>
		<string>调货管理界面</string>
		<key>TGDetailController</key>
		<string>调货详情界面</string>
		<key>TransferGoodController</key>
		<string>调货界面</string>
		<key>CustomerManagerController</key>
		<string>员工管理界面</string>
		<key>CreateCustomerController</key>
		<string>员工详情界面</string>
		<key>ModifyPasswordController</key>
		<string>修改密码界面</string>
		<key>SettingViewController</key>
		<string>设置界面</string>
		<key>LoginViewController</key>
		<string>登录界面</string>
		<key>FindPasswordController</key>
		<string>找回密码界面</string>
		<key>MobileFindController</key>
		<string>手机验证码界面</string>
		<key>CooperationViewController</key>
		<string>申请合作伙伴界面</string>
		<key>RegisterProtocolController</key>
		<string>合作伙伴协议界面</string>
		<key>RegisterSuccessController</key>
		<string>注册成功界面</string>
	</dict>
</dict>
</plist>
